:root {
  --bg-color: #000;
  --primary-color: #8A0016;
  --secondary-color: #EADBBB;
  --tertiary-color: #fff;
}

* {
  color: var(--secondary-color);
}

img {
  opacity: 0.9;
  width: 100%;
}

body {
  background: var(--bg-color);
}
select,
textarea,
input:not([type="radio"], [type="checkbox"]),
button {
  all: unset;
  background-color: var(--primary-color);
  transition: border-radius .5s;
  padding: 5px 10px;
}
select {
  appearance: auto;
}
select:where(:hover, :open),
textarea:where(:hover, :focus-within),
input:not([type="radio"], [type="checkbox"]):where(:hover, :focus-within),
button:where(:active, :hover, .active, .hover) {
  border-radius: 8px;
  color: var(--tertiary-color);
}

html header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  & > div {
    position: relative;
    margin: auto;
    width: calc(100% - 80px);
    max-width: 1200px;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    height: 40px;
    box-sizing: border-box;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 17.5%;
      right: 17.5%;
      height: 1px;
      background-color: var(--tertiary-color);
    }
  }
  * {
    color: white;
    fill: white;
  }
  img {
    width: unset;
    height: 100%;
  }
  .account-buttons,
  .text {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 12px;
    align-items: center;

    span {
      height: fit-content;
    }
  }
  .account-buttons {
    justify-content: end;
    gap: 7px;
    padding: 5px 0;

    svg {
      height: 100%;
      aspect-ratio: 1/1;
      width: unset;
    }
  }
  .logo {
    height: 100%;
    aspect-ratio: 41/25;
    width: unset;
  }
}

.wrap_hamburger {
  width: 40px;
  height: 40px;
  display: none;
  justify-content: center;
  align-items: center;

  .toggle {
    display: none;
  }
  .lbl_toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 32px;
    right: 0;
    align-items: center;
    transition: padding .2s;
  
    .line {
      background-color: var(--primary-color);
      height: 4px;
      width: 40px;
      transform-origin: left;
      transition: transform-origin .2s, transform 0.2s, opacity 0.2s, width .2s;
    }
  }
  .toggle:checked + .lbl_toggle {
    padding-left: 2px;
  }
  .toggle:checked + .lbl_toggle .line.l1 {
    transform: rotate(45deg);
    transform-origin: top left;
  }
  .toggle:checked + .lbl_toggle .line.l2 {
    opacity: 0;
  }
  .toggle:checked + .lbl_toggle .line.l3 {
    transform: rotate(-45deg);
    transform-origin: bottom left;
  }
}
@media (max-width: 600px) {
  html header > div {
    height: 60px;
    margin: 0;
    width: 100%;

    .wrap_hamburger {
      display: flex;
    }
    .text {
      position: absolute;
      background: var(--secondary-color);
      height: calc(100vh - 60px);
      top: 60px;
      flex-direction: column;
      padding: 20px 30px;
      right: 0;
      transform: translateX(100%);
      transition: transform .2s;
    }
    .text:has(+ .account-buttons .toggle:checked) {
      transform: translateX(0);
    }
  }
}

.wrapper {
  margin: 40px auto;
  width: calc(100% - 80px);
  max-width: 1200px;

  .home {
    display: flex;
    .imagesHomepage {
      img {
        width: 35%;
      }
    }
  }
}
