:root {
  --primary-bg-color: #000;
  --secondary-bg-color: #ecede8;
  --header-bg: #000;
  --primary-text-color: #fff;
  --secondary-text-color: #000;
  --accent-color: #8A0016;
}

html,
body {
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
}

* {
  color: var(--primary-text-color);
  fill: var(--primary-text-color);
}
[popover] {
  width: calc(100% - 80px);
  margin: auto;
  padding: 10px;
  background-color: var(--primary-bg-color);
  border: 1px solid var(--secondary-bg-color);
}
img {
  opacity: 0.9;
  width: 100%;
}
body {
  background: var(--primary-bg-color);
}
body:has([popover]:popover-open),
body:has(header .toggle:checked) {
  overflow: hidden;
}
button {
  all: unset;
  position: relative;
  background-color: var(--accent-color);
  color: var(--primary-text-color);
  transition: border-radius 0.5s;
  padding: 10px 20px;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(../images/Button_texture.png);
    background-size: 200%;
    opacity: 0.5;
  }
}
button {
  width: 152px;
  aspect-ratio: 190/70;
  text-align: center;
  font-size: 26px;
  box-sizing: border-box;
  font-family: "acumin-pro-extra-condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
}
select {
  appearance: auto;
}
select,
textarea,
input:not([type="radio"], [type="checkbox"]) {
  border: 1px solid var(--primary-bg-color);
  background-color: var(--secondary-bg-color);
  border-radius: 0;
  padding: 5px 10px;
  outline: unset;
  caret-color: var(--secondary-text-color);
  color: var(--secondary-text-color);
  width: 100%;
  box-sizing: border-box;
}
input:not([type="radio"], [type="checkbox"]):where(:hover, :focus-within),
button:where(:active, .active, :hover, .hover) {
  background-color: var(--secondary-bg-color);
  color: var(--secondary-text-color);
}
.inverse-bg {
  background-color: var(--secondary-bg-color);
  padding: 40px 0;

  * {
    color: var(--secondary-text-color);
  }
  h2 {
    color: var(--accent-color);
  }
  button {
    color: var(--primary-text-color);
  }
  button:hover {
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
  }
}
html header {
  background-color: var(--header-bg);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  & > div {
    position: relative;
    margin: auto;
    width: calc(100% - 80px);
    max-width: 1200px;
    padding: 5px 10px;
    height: 40px;
    box-sizing: border-box;
  }
  img {
    width: unset;
    height: 100%;
  }
  .account-buttons,
  .text {
    font-size: 12px;
    align-items: center;

    a {
      height: fit-content;
      text-decoration: none;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        right: 0;
        height: 1px;
        background: var(--secondary-bg-color);
        transform: scaleX(0);
        transition: transform .2s;
      }
    }
    a:where(:hover, .active) {
      &::after {
        transform: unset;
      }
    }
    a:has(svg) {
      height: 100%;
      aspect-ratio: 1/1;
      width: unset;
    }
  }
  .account-buttons {
    justify-content: end;
    padding: 5px 0;

    svg {
      height: 100%;
      aspect-ratio: 1/1;
      width: unset;
    }
  }
  .logo {
    height: 100%;
    aspect-ratio: 41/25;
    width: unset;
  }
}
html footer {
  padding: 40px 0;
  background-color: var(--primary-bg-color);

  a {
    height: fit-content;
    text-decoration: none;
  }
}

.wrap_hamburger {
  width: 24px;
  aspect-ratio: 1/1;
  display: none;
  justify-content: center;
  align-items: center;

  .toggle {
    display: none;
  }
  .lbl_toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    aspect-ratio: 1/1;
    right: 0;
    align-items: center;

    .line {
      background-color: var(--primary-text-color);
      height: 4px;
      width: 100%;
      transform-origin: left;
      transition: transform-origin 0.2s, transform 0.2s, opacity 0.2s,
        width 0.2s;
    }
  }
  .toggle:checked + .lbl_toggle .line.l1 {
    transform: rotate(45deg) translateX(3px);
    transform-origin: top left;
  }
  .toggle:checked + .lbl_toggle .line.l2 {
    opacity: 0;
  }
  .toggle:checked + .lbl_toggle .line.l3 {
    transform: rotate(-45deg) translateX(3px);
    transform-origin: bottom left;
  }
}
html footer > div,
.wrapper {
  margin: auto;
  width: calc(100% - 80px);
  max-width: 1200px;
  overflow: hidden;
}
@media (max-width:600px) {
  html header > div {
    height: 48px;
    margin: 0;
    width: 100%;

    &::after {
      display: none;
    }
    .account-buttons {
      gap: 20px;
    }
    .wrap_hamburger {
      display: flex;
    }
    .text {
      position: fixed;
      background: var(--primary-bg-color);
      height: calc(100vh - 48px);
      top: 48px;
      flex-direction: column;
      padding: 20px 30px;
      right: 0;
      transform: translateX(100%);
      transition: transform 0.2s;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        width: 1px;
        background-color: var(--secondary-bg-color);
      }
    }
    .text:has(+ .account-buttons .toggle:checked) {
      transform: translateX(0);
    }
  }
  .wrapper {
    width: calc(100% - 20px);
    margin: auto;
    overflow: hidden;
  }
  button {
    width: 110px;
    font-size: 16px;
  }
}
