.romyBio {
  display: flex;
}
.educationRomy {
  display: flex;
}

.moreinfo {
  & > * {
    & > * {
      display: flex;
      gap: 20px;
    }
  }
}
.exhibitions {
  display: flex;
  div {
    max-width: 50%;
  }
}
