.max-800,
.text.wrapper {
  max-width: 1000px;
}
.wrapper > div[class*="justify"] {
  width: 80%;
}
.text_image {
  grid-template-columns: 2fr 1fr;
}
.text_grid {
  grid-template-columns: 3fr 2fr 3fr;
}
ul {
  list-style: inside;
}
.justify-start,
.justify-end {
  width: 80%;
}
.rupture {
  padding-top: 200px;
}
.child-padding-top-180 > *:not(.justify-end, .no-padding) {
  padding-top: 180px;
}
.margin-100-auto {
  margin: 0 auto 0 100px;

  h3 {
    white-space: nowrap;
  }
}
[aria-label="festival_selections"] {
  width: fit-content;
}