body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 30px;
  background: var(--secondary-bg-color);

  * {
    color: var(--secondary-text-color);
  }
  h1,
  h2 {
    color: var(--accent-color);
  }
}
footer *,
header * {
  color: var(--primary-text-color);
}
.grid.filter_parent {
  grid-template-columns: 300px 1fr;
}
.grid.text:not(#project) {
  max-width: 650px;
}
#project {
  grid-template-columns: 1fr 2fr;
  align-self: center;
  background: var(--primary-bg-color);
  
  .flex {
    align-self: center;
  }
  * {
    color: var(--primary-text-color);
  }
}
#casting_list {
  --rows: 5;
}
#casting_list {
  grid-template-columns: repeat(var(--rows), 1fr);
}
#project_list span.active {
  padding-left: 50px;
}
#criteria_list {
  position: sticky;
  top: 0;
}
#criteria_list select,
#criteria_list input {
  border: 1px solid var(--primary-bg-color);
  background-color: var(--secondary-bg-color);
}
.filter_parent .toggle {
  display: none;
}
@media (max-width:600px) {
  .grid.filter_parent {
    grid-template-columns: 1fr;
    overflow: hidden;

    & > div {
      overflow: hidden;
    }
  }
  #project {
    display: none;
  }
  #project_list span.active {
    padding-left: 10px;

    &::after {
      content: "";
      position: absolute;
      bottom: 6px;
      left: 25%;
      right: 25%;
      height: 1px;
      background: var(--secondary-bg-color);
    }
  }
  #project_list {
    display: grid;
    grid-template-columns: 1fr 1fr;

    span {
      text-align: center;
      position: relative;
      padding: 10px;
      background: var(--accent-color);
      color: var(--primary-text-color);
    }
  }
  #rolls_list {
    flex-direction: row;
    overflow: scroll hidden;
    padding: 5px;
    box-sizing: border-box;
    width: 100%;

    span {
      white-space: nowrap;
    }
  }
  #casting_list {
    --rows: 2;
  }
  .toggle + label h2 {
    position: relative;
    width: fit-content;

    &::after {
      content: ">";
      transform: rotate(90deg);
      position: absolute;
      right: -30px;
      top: 2px;
    }
  }
  .toggle:checked + label h2::after {
      transform: rotate(270deg);
  }
  #criteria_list  {
    display: none;
  }
  .filter_parent .toggle:checked ~ #criteria_list {
    display: flex;
  }
}