.textDetailed {
  input {
    border: 1px solid black;
  }
}

.box {
  border: 1px solid black;
  background: var(--secondary-bg-color);
  max-width: fit-content;
  padding: 0 1% 0 1%;
}

.tag {
  display: flex;
  gap: 1%;
}

.wrapper.stroke {
  width: calc(100% - 80px);
}

.filtersStroke {
  b {
    padding: 20px;
  }
  a {
    justify-self: end;
  }
}